@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: none;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
