@charset "UTF-8";

header {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--fonte1);
    font-weight: normal;
    background-color: var(--branco);
    padding: 0.5em;
    cursor: default;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-family: var(--fonte2);
    background-color: var(--verde-principal);
    font-weight: bold;
}


nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a {
    color: var(--preto);
    text-decoration: none;
    transition: .2s;
}

nav ul li a:hover {
    color: var(--branco);
}

.logo {
    display: flex;
    align-items: center;
    
    padding: 0.5em;
    gap: 0.5em;
}

.logo figure {
    width: 50px;
}

.logo figure img {
    width: 100%;
}

.img-principal {
    height: 60vh;
    background-image: url('../img/img-principal.jpg');
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.searchbar {
    width: 500px;
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.searchbar input[type='text'] {
    width: 80%;
    padding: 0.5em 0.5em 0.5em 1em;
    height: 40px;
    border-radius: 1em 0 0 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.searchbar button {
    width: 12%;
    height: 54px;
    background-color: var(--verde-principal);
    border-radius: 0 1em 1em 0;
    transition: .2s;
}

.searchbar button:hover {
    background-color: var(--vermelho-principal);
}

main h2.escolha {
    text-align: center;
    font-family: var(--fonte1);
    color: var(--vermelho-principal);
    margin: 0.5em 0 0.5em 0;
}